{
    "server": {
        "address": ":8011"
    },
    "mysql": {
        "address": "127.0.0.1",
        "user": "root",
        "pass": "secret123",
        "port": "3306",
        "database": "db_mytrip_v2"
    },
    "cors": {
        "allowed_headers": "Content-Type,Authorization,Access-Control-Allow-Headers,Cache-Control,X-Requested-With",
        "allowed_methods": "GET,DELETE,PUT,OPTIONS,POST",
        "allowed_origins": "*"
    }
}
